<i class="fa fa-upload"></i>
<form method="post" name="frm">
    <input type="file" name="f" value="" />
</form>
<div id="rs"></div>
<style>
    input{
        display:none;
    }
</style>
<script>
    $('.fa-upload').click(function () {
        $(frm['f']).click();
    })
    $(frm['f']).change(function () {
        var fd = new FormData()
        fd.append('f', this.files[0]);
        $.ajax({
            url: '/upload/ajax',
            type: 'post',
            data: fd,
            processData: false,
            contentType: false,
            success: function (o) {
                console.log(o)
                $(rs).append(`<img width="100" src="/upload/${o.name}"/>`)
            }
        })
    })
</script>